html, body {
    font-family: 'PT Sans', sans-serif;
    color: whitesmoke;
    min-height: 100%;
}

body {
    background-image: linear-gradient(180deg, #7b46a9, #302b65);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 0px;
}

#main-container {
    max-width: 80%;
    height: auto;
    margin: 0 auto 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    border: none;
    border-radius: 4em;
    background-image: url("../img/8BALL_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 4%;
}

#content img {
    width: 425px;
}

#content #onButton, #content #shakeButton {
    margin: 5px 30%;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    color: whitesmoke;
    border: none;
    box-shadow: 0 3px 1px rgb(167, 166, 166);
} 

#content #onButton:hover, #content #shakeButton:hover {
    cursor: pointer;
}

#content #onButton {
    margin-top: 25px;
    background-color: #299604;
}

#content #onButton:active {
    box-shadow: none;
    background-color: #207604;
    transform: translateY(3px);
}

.turnOffButtonBg {
    background-color: rgb(242, 19, 19) !important;
}

.turnOffButtonBg:active {
    background-color: rgb(193, 19, 19) !important;
    transform: translateY(3px);
}

#content #shakeButton {
    background-color: #0C4485;
}

.shakeButtonDisabled {
    color: grey !important;
    background-color: #002b5c !important;
    box-shadow: none !important;
    transform: translateY(3px);
    cursor: initial !important;
}

.shakeBall {
    animation: shake 0.7s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/***** RESPONSIVE LAYOUT *****/
  @media screen and (max-width: 414px) {

    h1 {
        display: none;
    }

    h2 {
        margin: 0 5%;
        text-align: center;
    }

    #main-container {
        max-width: 375px;
        margin-bottom: 10%;
    }

    #content {
        margin: 0;
        margin-top: 5%;
        max-width: 100%;
        border-radius: 2em;
    }

    #content img {
        margin-top: 10%;
        width: 350px;
    }

    #content #onButton, #content #shakeButton {
        margin: 5px 8%;
        height: 60px;
        border-radius: 15px;
        font-size: 25px;
        color: whitesmoke;
        border: none;
    } 

    #content #onButton {
        margin-top: 15%;
    }

    #content #shakeButton {
        margin-bottom: 10%;
    }

  }

  @media screen and (max-width: 375px) {
    
    h2 {
        font-size: 1.5em;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 0px;
    }

    #main-container {
        max-width: 355px;
        margin-bottom: 0;
    }

    #content {
        margin-top: 10px;
        margin-bottom: 0;
        max-width: 100%;
    }

    #content img {
        width: 325px;
    }

  }

  @media screen and (min-height: 810px) and (max-width: 375px) {

    h2 {
        margin-top: 10%;
        margin-bottom: 5%;
    }

  }

