html, body {
    font-family: 'PT Sans', sans-serif;
    color: whitesmoke;
    
}

body {
    background-image: linear-gradient(180deg, #53247C, #030126);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 0px;
}

#main-container {
    max-width: 80%;
    height: 90%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    border: none;
    border-radius: 4em;
    background-image: linear-gradient(0deg, #F6F6FF, #e1e0ed);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 4%;
}


#content img {
    width: 450px;
}

#content #onButton, #content #shakeButton {
    margin: 10px 30%;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    color: whitesmoke;
    border: none;
} 

#content #onButton {
    margin-top: 40px;
    background-color: #299604;
}

.turnOffButtonBg {
    background-color: rgb(242, 19, 19) !important;
}

#content #shakeButton {
    background-color: #0C4485;
}

.buttonDisabled {
    color: grey !important;
    background-color: #002b5c !important;
}

.shakeBall {
    animation: shake 0.7s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/***** RESPONSIVE LAYOUT *****/
  @media screen and (max-width: 414px) {

    #main-container {
        max-width: 375px;
        margin-bottom: 25%;
    }
    #content {
        margin: 0;
        margin-top: 10%;
        max-width: 100%;
        border-radius: 2em;
    }
    #content img {
        margin-top: 10%;
        width: 350px;
    }

    #content #onButton, #content #shakeButton {
        margin: 10px 8%;
        height: 60px;
        border-radius: 15px;
        font-size: 25px;
        color: whitesmoke;
        border: none;
    } 

    #content #onButton {
        margin-top: 15%;
    }

    #content #shakeButton {
        margin-bottom: 10%;
    }

  }

  @media screen and (max-width: 375px) {

    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 1.5em;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 0px;
    }

    #main-container {
        max-width: 355px;
        margin-bottom: 25%;
    }
    #content {
        max-width: 100%;
    }
    #content img {
        width: 325px;
    }

  }